.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 890px;
  max-height: 650px;
  margin-left: 300px;
}
.card {
  margin: 20px;
  border: 1px solid rgb(208, 201, 201);
  max-height: 300px;
  max-width: 250px;
  padding: 10px;
}

.img {
  border-radius: 10px;
  background-size: cover;
  max-width: 200px;
  width: 200px;
  height: 139px;
  object-fit: contain;

}
.name{
    margin: 10px;
}
.price{
    margin-left: 20px;
}
