.cardList {
    display: flex;
    margin-left: 170px;
    margin-top: 60px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}
.name{
    margin: 12px;
    font-weight: bold;
}
.price {
    align-items: end;
}

.card {
    max-width: 250px;
    border: 1px solid #E7E7E7;
    padding: 11px;
}
.img {
    border-radius: 10px;
    background-size: cover;
    object-fit: contain;
    width: 228px;
    height: 130px;
}
