.basketItem {
  position: relative;
  display: flex;
  width: 530px;
  margin-left: 10px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
}

.imgContainer .img {
  margin-left: 40px;
  margin-bottom: 40px;
  width: 90px;
  background-size: cover;
}

.buttonsContainer {
  display: flex;
  align-items: center;
}

.title {
  font-weight: normal;
}

.iconPlus,
.iconMinus {
  width: 19.98px;
}

.button {
  border: none;
  background: none;
  border: none;
  cursor: pointer;
}

.deleteButton {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 10px;
  top: 3px;
}
