.card{
    display: inline-block;
    margin: 15px;
    background-color: rgb(243, 240, 240);
    width: 200px;
    height: 230px;
    text-align: center;
}
.img{
    border-radius: 10px;
    background-size: cover;
    width: 200px;
    height: 200px;
  
}
.img :hover{
        width: 200px;
        height: 200px;
}